*{
    box-sizing: border-box; /*Margin e pading não influenciam na influenciar no elementos*/
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100%;
    background: linear-gradient(
        90deg,
        rgb(168, 131, 255) 0%, 
        rgb(112, 50, 255) 100%
    );
}

#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 83px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 15px;
    background: #6d1fff;
}

h1{
    color: white;
    text-align: center;
    font-family: Fira Code;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
    
}
#jogo{
    width: 300px;
    height: 300px;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;

    grid-template-columns: repeat(3, auto); 
    position: relative; /*permite que seus elementos internos utilizam dele para se posicionar*/
    margin: 0 auto;
}

.caixa{
    width: 100px;
    height: 100px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 90px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.caixa:nth-child(1),
.caixa:nth-child(2),
.caixa:nth-child(3){
    border-top: none;
}

.caixa:nth-child(1),
.caixa:nth-child(4),
.caixa:nth-child(7){
    border-left: none;
}

.caixa:nth-child(3),
.caixa:nth-child(6),
.caixa:nth-child(9){
    border-right: none;
}

.caixa:nth-child(7),
.caixa:nth-child(8),
.caixa:nth-child(9){
    border-bottom: none;
}

.winning-message {
    display: none;
    position: fixed;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column; /*Itens se posicionam um a cima do outro*/
}

.winning-message button{
    font-size: 2.5rem;
    background-color: rgb(139, 147, 255);
    padding: 10px 15px;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    margin-top: 16px;
    color: white;
}

.winning-message button:hover{
    background-color: white;
    color: rgb(139, 147, 255);
}

.winning-message-text{
    color: white;
    font-size: 5rem
}

.linha-hor-1{
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute; /* Se  */
    top: 15%;
}

.linha-hor-2{
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute; /* Se posiciona onde eu quiser  */
    top: 47%;
}

.linha-hor-3{
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute; /* Se posiciona onde eu quiser  */
    top: 79%;
}

.linha-ver-1{
    width: 4px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 16%;
}

.linha-ver-2{
    width: 4px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 47%;
}

.linha-ver-3{
    width: 4px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 79%;
}

.linha-diag-1{
    width: 140%;
    height: 4px;
    background-color: white;
    position: absolute;
    transform:rotate(45deg);
}

.linha-diag-2{
    width: 140%;
    height: 4px;
    background-color: white;
    position: absolute;
    transform:rotate(-45deg);
}